body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: x-large;
}

header > div > a {
  text-decoration: none;
  color: #1351d8;
}

.div-logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  height: 100%;
}

.img-logo-ford {
  max-width: 70%;
  height: auto;
}

.itens-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #1351d8;
}

.centralizar {
  display: flex;
  width: 9%;
}

hr {
  width: 98vw;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

main > p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer {
  display: flex;
  background-color: #1b357e;
  color: white;
  justify-content: space-between;
  padding: 0.5%;
  height: 5%;
}

footer > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > span > a {
  color: white;
}

#div-redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.a-redes-sociais {
  max-width: 10%;
  height: auto;
}

.redes-sociais {
  width: 100%;
  height: auto;
}

form {
  display: flex;
  gap: 10px;
  width: 20vw;
  flex-direction: column;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border: 1px solid #1351d8;
  border-radius: 5px;
}

select {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  color: #333;
}

select:focus {
  outline: none;
  border: 1px solid #1351d8;
  border-radius: 5px;
}

button {
  background-color: #1351d8;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  margin: 5px 0px;
}

button:hover {
  background-color: #1b357e;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  .div-img-carro {
    width: 45vw;
    height: 30%;
  }

  .img-carro {
    width: 100%;
    height: auto;
  }

  form {
    display: flex;
    gap: 10px;
    width: 50vw;
    flex-direction: column;
  }

  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  input:focus {
    outline: none;
    border: 1px solid #1351d8;
    border-radius: 5px;
  }

  select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    color: #333;
  }

  select:focus {
    outline: none;
    border: 1px solid #1351d8;
    border-radius: 5px;
  }

  button {
    background-color: #1351d8;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    margin: 5px 0px;
  }

  button:hover {
    background-color: #1b357e;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: #1b357e;
    color: white;
    justify-content: space-between;
    padding: 2%;
    height: 15%;
  }

  footer > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer > span > a {
    color: white;
  }

  #div-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }

  .a-redes-sociais {
    max-width: 5%;
    height: auto;
  }

  .redes-sociais {
    width: 100%;
    height: auto;
  }

  .copyrigth {
    display: flex;
    justify-content: center;
    align-itens: center;
  }

  .div-img-logo-footer {
    display: flex;
    justify-content: center;
    align-itens: center;
  }

  .img-logo-footer {
    width: 10%;
    height: auto;
  }
}
